<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img-container">
    <ion-img src="assets/images/logo-text.svg"></ion-img>
  </div>
  <form (ngSubmit)="login()">
    <div class="inputs">
      <ion-input label="Email" type="email"
        label-placement="floating"
        fill="outline" placeholder="email@example.com" [(ngModel)]="email"
        name="email" required></ion-input>

      <ion-item fill="outline">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="hidePassword ? 'password' : 'text'" value="password" [(ngModel)]="password" name="password" required></ion-input>
        <ion-icon slot="end" [name]="hidePassword ? 'eye-outline' : 'eye-off-outline'" placeholder="********"
        (click)="hidePassword = !hidePassword"></ion-icon>
      </ion-item>
    </div>

    <p>¿Olvidaste tu contraseña? <a routerLink="/recoverPass"
        style="color: #2CBBC3;">Recuperar.</a></p>

    <div class="button">
      <ion-button shape="round" type="submit">Iniciar sesión</ion-button>
    </div>

    <p>¿No tienes una cuenta? <a routerLink="/register" style="color: #FF9934;">Registrate.</a></p>
  </form>
</ion-content>
