:root {
    --accent-color: #FF9934;
}

.top-navbar-exclusive {
    height: calc(100% - 64px);
    bottom: 0;
    overflow: auto;
}

// Contemplates bottom and top navbar
.top-navbar-bottom-navbar-exclusive {
    height: calc(100% - 128px);
    bottom: 0;
    overflow: auto;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media screen and (max-width: 599px){
    .top-navbar-exclusive {
        height: calc(100% - 56px);
    }
    .top-navbar-bottom-navbar-exclusive {
        height: calc(100% - 112px);
    }
}
