@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
    50: #fff3e7,
    100: #ffe0c2,
    200: #ffcc9a,
    300: #ffb871,
    400: #ffa852,
    500: #ff9934,
    600: #ff912f,
    700: #ff8627,
    800: #ff7c21,
    900: #ff6b15,
    A100: #ffffff,
    A200: #fffcfb,
    A400: #ffdac8,
    A700: #ffc9ae,
    contrast: (
        50: #ffc9ae,
        100: #ffdac8,
        200: #fffcfb,
        300: #ffffff,
        400: #ff6b15,
        500: #ff7c21,
        600: #ff8627,
        700: #ff912f,
        800: #ff9934,
        900: #ffa852,
        A100: #ffb871,
        A200: #ffcc9a,
        A400: #ffe0c2,
        A700: #fff3e7
    )
);

$accent-palette: (
    50 : #e6f7f8,
    100 : #c0ebed,
    200 : #96dde1,
    300 : #6bcfd5,
    400 : #4cc5cc,
    500 : #2cbbc3,
    600 : #27b5bd,
    700 : #21acb5,
    800 : #1ba4ae,
    900 : #1096a1,
    A100 : #d1fbff,
    A200 : #9ef7ff,
    A400 : #6bf3ff,
    A700 : #52f0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$myPrimary: mat.define-palette($primary-palette, 500);

$myAccent: mat.define-palette($accent-palette, 500);

$myTheme: mat.define-light-theme((
    color: (
        primary: $myPrimary,
        accent: $myAccent,
    ),
));

@include mat.all-component-themes($myTheme);
