<div class="general">
    <h1>Filtrar</h1>

    <div class="control">
        <h2>Edad</h2>
        <ul>
            <li><input type="radio" name="age"> &lt; 1</li>
            <li><input type="radio" name="age"> 1 - 4</li>
            <li><input type="radio" name="age"> 5 - 10</li>
            <li><input type="radio" name="age"> + 10</li>
        </ul>
        <h2>Tipo</h2>
        <ul>
            <li><input type="radio" name="sex"> Perro</li>
            <li><input type="radio" name="sex"> Gato</li>
        </ul>
        <h2>Tamaño</h2>
        <ul>
            <li><input type="radio" name="size"> Pequeño</li>
            <li><input type="radio" name="size"> Mediano</li>
            <li><input type="radio" name="size"> Grande</li>
        </ul>

        <input type="radio" name="ubi"> Ubicación mas cercana
    </div>

    <button>Aplicar</button>
</div>