<div class="title">
    <h1>Login</h1>
</div>
<div class="logo">
     <img src="../../../assets/images/patitas.png" alt="">

</div>
<div class="form">
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">
    <span id="eye1" class="material-symbols-outlined">visibility_off</span>    <p>¿Olvidaste tu Contraseña? <a href="#">Recuperar</a></p>
    <button>Iniciar Sesion</button>
    <p >¿No tienes una cuenta? <a [routerLink]="['register']">Registrate</a></p>
</div>