<app-top-navbar [leftItem]="'back'">
    <!-- <button mat-icon-button *ngIf="post && !error" color="primary" (click)="setFavourite()">
        <mat-icon>{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button> -->
</app-top-navbar>
<div class="title">
    <h1>Login</h1>
</div>
<div class="logo">

        <img src="../../../assets/images/patitas.png" alt="">

</div>
<div class="form">
    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">
    <i class="fa-sharp fa-solid fa-eye-slash"></i>
    <p >¿Olvidaste tu Contraseña? <a [routerLink]="['#']">Recuperar</a></p>
    <button>Iniciar Sesion</button>
    <p>¿No tienes una cuenta? <a [routerLink]="['register']">Registrate</a></p>
</div>