<ion-header>
  <ion-toolbar>
    <app-top-toolbar [leftItem]="'logo'">
      <div class="logout">
        <h1 style="width: auto;">Perfil</h1>
        <ion-button style="margin: 15px;" (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </div>
    </app-top-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="userContent">
    <ion-icon class="container-iconAccount" name="person-circle-outline"></ion-icon>
    <div class="userDates">
      <p class="userName">{{name}}</p>
      <p class="userEmail">{{email}}</p>
    </div>

    <ion-button id="open-modal" class="editButton" (click)="openModal()"
      expand="block">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>

  </div>
  <ion-segment value="mis-publicaciones"
    (ionChange)="selectPublications($event)">
    <ion-segment-button value="mis-publicaciones">
      <ion-label>MIS PUBLICACIONES</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favoritos">
      <ion-label>FAVORITOS</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <div class="posts-container" *ngIf="publications && publications.length > 0">
      <app-post-card *ngFor="let post of publications" [post]="post"></app-post-card>
    </div>
  
    <div class="not-found" *ngIf="publications && publications.length === 0">
      <h1 class="text-center">No posts found</h1>
    </div>
  </ion-content>
</ion-content>

<ion-footer>
  <app-bottom-toolbar></app-bottom-toolbar>
</ion-footer>