<mat-toolbar class="toolbarNav">
  <div class="container-icon" routerLink="/home" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">pets</mat-icon>
  </div>
  <div class="container-icon" routerLink="/post">
    <mat-icon svgIcon="post-icon" class="material-icons" routerLinkActive="active-icon"></mat-icon>
  </div>
  <div class="container-icon" routerLink="/messages" [class.active-button]="isActive()">
    <mat-icon *ngIf="isActive(); else inactiveIcon" svgIcon="chat-color" class="material-icons"></mat-icon>
    <ng-template #inactiveIcon>
      <mat-icon svgIcon="chat-icon" class="material-icons"></mat-icon>
    </ng-template>
  </div>
  <div class="container-icon" routerLink="/profile" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">account_circle</mat-icon>
  </div>
</mat-toolbar>
