<mat-toolbar class="toolbarNav">
  <div class="container-icon" routerLink="/home" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">pets</mat-icon>
  </div>

  <div class="container-icon" routerLink="/post" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">add_circle</mat-icon>
  </div>

  <div class="container-icon" routerLink="/messages" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">chat_bubble</mat-icon>
  </div>

  <div class="container-icon" routerLink="/profile" routerLinkActive="active-button">
    <mat-icon class="material-icons" routerLinkActive="active-icon">account_circle</mat-icon>
  </div>
</mat-toolbar>
