<app-top-navbar [leftItem]="'back'">
    <button mat-icon-button *ngIf="post && !error" color="primary" (click)="setFavourite()">
        <mat-icon>{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
</app-top-navbar>

<app-loading *ngIf="!post && !error"></app-loading>

<div *ngIf="error" class="error-container">
    <h2>There's been an error while loading the details for this post</h2>
    <mat-icon color="warn">error</mat-icon>
</div>

<article *ngIf="post && !error" class="post-container top-navbar-exclusive">
    <h1>{{post.title}}</h1>

    <section class="carrousel">
        <img *ngFor="let imgUrl of post.photoUrls"
            [src]="imgUrl"
             alt="{{post.title}} picture">
    </section>

    <section class="description-box">
        <p *ngIf="post.description">{{post.description}}</p>
        <p *ngIf="!post.description">No description given.</p>
    </section>

    <table class="data">
        <tr>
            <td>Age</td>
            <td>{{post.age}}</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>{{post.gender}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{post.type}}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{post.size}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{post.location}}</td>
        </tr>
    </table>

    <button mat-flat-button color="accent" class="message-button">
        Send message
    </button>

</article>
