<ion-header>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat.id)" class="message">
      <ion-avatar slot="start">
        <img alt="Profile picture of {{chat.username}}" [src]="chat.profilePicture" class="profile-picture" />
      </ion-avatar>
      <ion-label>
        <ion-card-title class="name">{{ chat.username }}</ion-card-title>
        <div class="message-content">
          {{ chat.lastMessage }}
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-bottom-toolbar></app-bottom-toolbar>