<ion-header>
  <ion-toolbar>
    <app-top-toolbar [leftItem]="'logo'">
      <div class="logout">
        <h1 style="width: auto;">Mensajes</h1>
      </div>
    </app-top-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat)" class="message">
      <ion-avatar slot="start">
        <img alt="Profile picture of {{chat.to.name | titlecase}} {{chat.to.surname | titlecase}}" [src]="chat.to.url || getDefaultImgUrl(chat.to.user_id)" class="profile-picture" />
      </ion-avatar>
      <ion-label>
        <ion-card-title class="name">{{ chat.to.name | titlecase}} {{chat.to.surname | titlecase}}</ion-card-title>
        <div class="message-content">
          ...
          <!-- {{ chat.lastMessage }} -->
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-bottom-toolbar></app-bottom-toolbar>
</ion-footer>