<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" shape="round" type="submit" color="secondary">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!formData.valid" (click)="confirm()" [strong]="true" shape="round" type="submit"
        color="secondary">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form [formGroup]="formData" (ngSubmit)="confirm() ">
    <ion-input label="Nombre" type="text" label-placement="floating" fill="outline" formControlName="nameControl" name="name"
      required></ion-input>

    <ion-input label="Email" type="text" label-placement="floating" fill="outline" formControlName="emailControl" email="email"
      required></ion-input>


  </form>
</ion-content>