<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Ingresa tu nombre</ion-label>
    <ion-input type="text" placeholder="Nombre" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ingresa tu email</ion-label>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>
</ion-content>