<ion-toolbar>

    <ion-buttons slot="start">

        <ion-button routerLink="/home" routerDirection="back" *ngIf="leftItem === 'logo'">
            <img class="logo"
                 src="assets/images/logo_sm.png"
                 alt="logo"
            />
        </ion-button>

        <ion-back-button *ngIf="leftItem === 'back'" defaultHref="/home"></ion-back-button>

    </ion-buttons>

    <ion-title *ngIf="pageTitle">{{pageTitle}}</ion-title>

    <ng-content></ng-content>

</ion-toolbar>
