<ion-header>
  <ion-toolbar>
    <app-top-toolbar [leftItem]="'logo'">
      <mat-icon slot="end" id="open-filter-modal">filter_list</mat-icon>
    </app-top-toolbar>
    <ion-progress-bar *ngIf="!allPosts" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="posts-container" *ngIf="allPosts && allPosts.length > 0">
    <app-post-card *ngFor="let post of allPosts" [post]="post"></app-post-card>
  </div>

  <div class="not-found" *ngIf="allPosts && allPosts.length === 0">
    <h1 class="text-center">No posts found</h1>
  </div>
</ion-content>

<ion-footer>
  <app-bottom-toolbar></app-bottom-toolbar>
</ion-footer>

<ion-modal #modal trigger="open-filter-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Filtrar</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-select formControlName="age" label="Edad">
            <ion-select-option value="&lt; 1">&lt; 1</ion-select-option>
            <ion-select-option value="1 - 4">1 - 4</ion-select-option>
            <ion-select-option value="5 - 10">5 - 10</ion-select-option>
            <ion-select-option value="+ 10">+ 10</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select formControlName="size" label="Tamaño">
            <ion-select-option value="Pequeño">Pequeño</ion-select-option>
            <ion-select-option value="Mediano">Mediano</ion-select-option>
            <ion-select-option value="Grande">Grande</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select formControlName="sex" label="Sexo">
            <ion-select-option value="Macho">Macho</ion-select-option>
            <ion-select-option value="Hembra">Hembra</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button class="submit" type="submit" expand="block">Filtrar</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>