<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/messages"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{chat?.messages?.[0]?.username || 'Chat'}}
    </ion-title>
  </ion-toolbar>
  <app-top-toolbar [leftItem]="'back'"></app-top-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="messages.length > 0">
    <ion-item *ngFor="let message of messages" class="message">
      <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" [src]="message.sender.url || getDefaultImgUrl(message.sender.user_id)">
          </ion-avatar>
          <ion-label> {{message.content}} </ion-label>
        </ion-item>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Escriba su mensaje..." class="theInput"></ion-input>
    <ion-button expand="block" (click)="sendMessage()" slot="end">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>