
<app-top-navbar [leftItem]="'back'"> <h1 >Register</h1></app-top-navbar>

<div class="form">
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Apellido">
    <input type="text" placeholder="Email">
    <input  type="password" placeholder="Password">
    <span id="eye1" class="material-symbols-outlined">visibility_off</span>
    <input  id="virifPass" type="password" placeholder="Verificar password">
    <span id="eye2" class="material-symbols-outlined">visibility_off</span>
    <button>Registrarme</button>
</div>
