<div class="nav">
    <div class="container-items">
        <div class="container-iconPets">
            <mat-icon>pets</mat-icon>
        </div>
        <h1 class="title">Perfil</h1>
    </div>
</div>
<hr color="orange">

<div class="userAccountGeneral">
    <div class="container-iconAccount">
        <mat-icon>person</mat-icon>
    </div>
    <div class="userDates">
        <p class="userName">Anne Hathaway</p>
        <p class="userEmail">anne@example.com</p>
    </div>
    <div class="container-iconEdit" routerLink="/editProfile">
        <mat-icon>edit</mat-icon>
    </div>
</div>

<div class="containerButtonsPublications">
    <mat-tab-group (selectedTabChange)="selectPublications($event)">
        <mat-tab label="MIS PUBLICACIONES"></mat-tab>
        <mat-tab label="FAVORITOS"></mat-tab>
    </mat-tab-group>
</div>

<div class="allPublications">

    <div class="publication" *ngFor="let publication of publications">

        <img [src]="publication.photoUrls" alt="">
        <div class="PublicationDescriptions">
            <div class="titleDescriptionDiv">
                <p class="descriptionTitle"> {{publication.title}} </p>
            </div>
            <div class="descriptionStateDiv">
                <p class="descriptionState"> {{publication.state}}</p>
            </div>
        </div>
    </div>
</div>

<app-bottom-navbar></app-bottom-navbar>